@font-face {
  font-family: "iconfont"; /* Project id 3188447 */
  src: url('@/static/font/iconfont.woff2?t=1646387413238') format('woff2'),
       url('@/static/font/iconfont.woff?t=1646387413238') format('woff'),
       url('@/static/font/iconfont.ttf?t=1646387413238') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e639";
}

.icon-jifen:before {
  content: "\e606";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-shoucang-copy:before {
  content: "\e605";
}

.icon-wodejifen:before {
  content: "\e802";
}

.icon-tuichu:before {
  content: "\e80c";
}

.icon-banbengengxin:before {
  content: "\e80d";
}

.icon-xiugaimima:before {
  content: "\e80e";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-dingwei:before {
  content: "\ec32";
}

.icon-you:before {
  content: "\e64b";
}

.icon-dangzuzhi:before {
  content: "\e607";
}

.icon-shequ1:before {
  content: "\e67b";
}

.icon-wenjuantiaocha:before {
  content: "\e666";
}

.icon-sheqing:before {
  content: "\e667";
}

.icon-gongyihuodong:before {
  content: "\e6aa";
}

.icon-wuye:before {
  content: "\e61a";
}

.icon-baoxiu:before {
  content: "\e664";
}

.icon-zhengwufuwuban-:before {
  content: "\e7aa";
}

.icon-bianminfuwu:before {
  content: "\e60c";
}

.icon-zonghe:before {
  content: "\e635";
}

.icon-xiaofei:before {
  content: "\e614";
}

.icon-school:before {
  content: "\e83d";
}

.icon-tese:before {
  content: "\e663";
}

.icon-yanglao:before {
  content: "\e62c";
}

.icon-zhihuishizheng:before {
  content: "\e6e8";
}

.icon-chuxing:before {
  content: "\e9ce";
}

.icon-shequ:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-mima:before {
  content: "\e638";
}

.icon-yonghuming:before {
  content: "\e657";
}

.icon-chongwu:before {
  content: "\e7ec";
}

.icon-yule:before {
  content: "\e7f2";
}

.icon-shijian:before {
  content: "\e647";
}

.icon-sheyingbeifen:before {
  content: "\e613";
}

.icon-rili:before {
  content: "\e62a";
}

.icon-liren:before {
  content: "\e670";
}

.icon-wodeqiye:before {
  content: "\e627";
}

.icon-Spraypenqiang:before {
  content: "\e6f6";
}

.icon-lvyou:before {
  content: "\e618";
}

.icon-meishi:before {
  content: "\e611";
}

.icon-classbingxiangweixiu:before {
  content: "\e7fa";
}

.icon-jiazhuang:before {
  content: "\e612";
}

.icon-kongdiao:before {
  content: "\e600";
}

.icon-shafa:before {
  content: "\e601";
}

.icon-yiwuyaodian:before {
  content: "\e602";
}

.icon-banjia:before {
  content: "\e648";
}

.icon-bao:before {
  content: "\e659";
}

.icon-fangzi:before {
  content: "\e63e";
}

.icon--fuwu:before {
  content: "\e8aa";
}

.icon-jianshen:before {
  content: "\ea73";
}

.icon-anzhuang:before {
  content: "\e712";
}

.icon-guandao:before {
  content: "\e603";
}

.icon-daohang:before {
  content: "\e684";
}

.icon-ditu:before {
  content: "\e62b";
}

.icon-dangjianzixun:before {
  content: "\e7f1";
}

.icon-tongzhigonggao:before {
  content: "\e7fe";
}

.icon-xinxigongkai:before {
  content: "\e801";
}

.icon-wuyefei:before {
  content: "\e80b";
}

.icon-banbengengxin2:before {
  content: "\e69c";
}

.icon-lianxiren-copy:before {
  content: "\e70e";
}

.icon-dengpao-copy:before {
  content: "\e70f";
}

.icon-shouye1-copy:before {
  content: "\e710";
}

.icon-dizhi-copy:before {
  content: "\e711";
}

.icon-dengpao:before {
  content: "\e6df";
}

.icon-shouye1:before {
  content: "\e6e0";
}

.icon-dizhi:before {
  content: "\e6e1";
}

.icon-lianxiren:before {
  content: "\e6e2";
}

.icon-gonggaoxiaolaba:before {
  content: "\e70d";
}

